.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___source {
  transform: scale(-1,1);
}

.fighter-preview___source img {
  height: 250px;
  object-fit: contain;
}

.fighter-preview___item {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  font-size: 16px;
  font-weight: 700;
}

.fighter-preview___item .name {
  text-transform: capitalize;
}

.fighter-preview___name {
  font-size: 26px;
}

.fighter-preview___name .name,
.fighter-preview___name .space {
  display: none;
}

.fighter-preview___left {
  align-items: flex-start;
}
